*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
}

body{
    background-color: black;
    position: relative;
}

#content{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    border-radius: 20px;
    position: absolute;
    top: 200px;
    left: 650px;
    background-color: blue;
    width: 200px;
    height: 200px;
}

.btn{
    font-size: 50px;
    background-color: blue;
    border: none;
    border-radius: 15px;
    width: 120px;
    height: 120px;
}
.btn:active{
    transform: translateY(4px);
}

#btn1{
    position: absolute;
    top: 410px;
    left: 600px;
}
#btn2{
    position: absolute;
    top: 410px;
    left: 770px;
}